@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

:root {
    --ombre: #2b2b2b;
    --ombretransparent: #2b2b2bde;
    --clair: #e0e0b8;
    --clair2: #e0e0b8ec;
    --vert: #1f4e1f;
    --gris: rgb(154, 155, 150);
    --rougatre: rgb(114, 50, 50);
    --rougatrebis: rgb(204, 57, 57);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*overflow: hidden;*/
    font-family: "Domine", sans-serif;
    font-size: 30px;
    color: var(--vert);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(172,172,172);
    background: linear-gradient(0deg, rgba(172,172,172,1) 0%, rgba(218,218,218,1) 43%, rgba(162,162,162,1) 100%);
}

#cadre {
    border: none;
    width: 1800px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section {
    border: solid 2px var(--gris);
    background-image: url(img/Deepone.jpg);
    background-size: cover;
    width: 600px;
    display: flex;
    flex-direction: column;
}

#corps {
    background-color: var(--clair2);
}

article {
    border: solid var(--gris) 2px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#grandancien {
    margin-top: 25px;
}

button {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 0 10px 0 10px;
    color: rgb(92, 92, 92);
    cursor: pointer;
}

div {
    background-color: rgba(255, 248, 205, 0.589);
    border: 1px solid var(--gris);
    width: 250px;
    margin: 5px;
    padding-left: 5px;
}

.duo {
    /*border: dotted 2px red;*/
    display: flex;
    width: 500px;
}

#fleche {
    height: 33px;
    width: 33px;
    margin: 0;
    padding: 0;
    border: none;
    background-image: url(img/fleche.svg);
    transform-origin: center;
    transform: rotate(0deg);
}

#corps > div {
    /*border: red solid 2px;*/
    width: 520px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.colonne > div {
    width: 225px;
}

#etoile {
    display: flex;
    height: 33px;
}

.star {
    height: 33px;
    width: 33px;
    margin: 0;
    padding: 0;
    border: none;
    background-image: url(img/starr.svg);
}

.esection {
    width: 500px;
}

#cliffhanger {
    margin-top: 30px;
}


/*-----PNJ-----------*/
#pnj {
    align-items: center;
}

#pnj > div {
    width: 555px;
    margin-top: 30px;
}

.rubrique {
    width: 535px;
    display: flex;
    flex-wrap: wrap;
}

/*---------MAP-----------*/
#support {
    width: 520px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    margin: 0;
    padding: 0;
    width: 500px;
    height: 500px;
    background-image: url(img/map.jpg);
    background-size: cover;
    background-position: center;
}
  
#b5,
#b6 {
    margin: 0;
}

#mapgrid {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    opacity: 0.5;
}


.carre {
    width: auto; /* pour redimensionner par frame */
    padding: 0;
    margin: 0;
    z-index: 2;
    border: 1px solid var(--gris);
    opacity: 0.5;
}

.tokenred {
    width: auto;
    padding: 0;
    margin: 0;
    
    background-color: rgb(241, 41, 41);
    border-radius: 50%;
    border: 3px solid black;
    z-index: 1;
}


.tokenblue {
    width: auto;
    padding: 0;
    margin: 0;
    
    background-color: rgb(31, 94, 231);
    border-radius: 50%;
    border: 3px solid black;
    z-index: 1;
}

#echelle {
    width: 520px;
    padding: 0;
    background-color: transparent;
    border:none;
}

#echelle > div {
    background-color: transparent;
    border:none;
}

/*-----------ARMES--------------*/
#namearmo {
    width: auto;
    display: flex;
}

#armo {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#armo div {
    width: 110px;
}

#portee {
    font-size: 27px;
}

#liste {
    list-style: none;
}

/*---------POINTS DE REGLES------------*/
#pdr {
    width: 500px;
    padding: 0;
    margin: 0;
    height: 37px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: transparent;
}

#pointderegle {
    margin: 0;
    padding: 0;
}

#livre {
    border: none;
    margin: 0;
    padding: 5px;
    height: 35px;
    width: 35px;
    background-color: var(--rougatre);
    background-image: url(img/book.png);
    background-size: cover;
    max-width: 100%;
    height: 100%;
    color: black;
}

#livre:hover {
    background-color: var(--rougatrebis);
}

#help {
    position: absolute;
    padding: 30px;
    width: 600px;
    height: 400px;
    background-color: var(--ombretransparent);
    top: 50%;
    left: 50%;
    transform-origin: center;
    
    transform: translate(-50%, -50%);
    color: var(--gris);
    font-size: 18px;
}

.invisible {
    display: none;
}

/*-----BESTIAIRE-------*/
#bestiaire {
    width: 400px;
    height: 150px;
    background-image: url(img/monstres/Byakhee.jpg);
    background-size: cover;
}

.monstre {
    position: fixed;
    z-index: 1;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px !important; 
    height: 600px !important;
}

/*-----REGLE PASSIVE-------*/
#regpassive {
    margin: 0;
    padding: 0;
    border: dotted black 2px;
    width: 520px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2;
}

#regpassive div {
    width: 150px;
    font-size: 16px;
    cursor: pointer;
    margin: 1px;
}

#support2 {
    width: 520px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}

#screen {
    padding: 0 5px 0 5px;
    border: solid 2px var(--gris);
    width: 500px;
    height: 170px;
    background-color: rgb(223, 218, 211) !important;
    color: var(--ombre);
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    
}

tr {
    border: solid 1px var(--ombre);
    
}

td {
    padding: 2px;
    border: solid 1px var(--ombre);
    font-size: 10px;

}
